body {
    background-color: azure;
    text-align: center;
}

#pic {
    height: 300;

}

.row::after {
    content: --;
    clear: both;
    display: table;
}

.travel_mainDiv {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid red;
}

.travel_mainDiv img {
    height: 300px;
}

.travel_mainDiv p {
    margin-left: 20px;
}

#ments {
    padding-bottom: 10px;
}

.movie_head {
    text-align: left;
    font-size: 10px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 500px;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_text {
    text-align: center;
    color: crimson;
}

.environment_li {
    margin-top: 13px;
}

.environment_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

.environment_li img {
    border-radius: 25px;
}

.environment_li p {
    margin-top: 10px;
}
